*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: #fac473;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    padding-top: 25px;
}
.filter-btn{
    padding: 5px;
    text-transform: capitalize;
    background-color: #fac473;
    border:2px solid #eeae4e;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.filter-btn:hover{
    background-color: #eeae4e;
    border-color: #555;
}
.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    column-gap: 15px;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 25px;
}
.card-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0px 0px;
}
.card-img>img{
    width:100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}
.card{
    height: 400px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #eeae4e;
    background-color: #fff;
    transition: all .3s;
}
.card:hover{
    box-shadow: 0px 8px 5px #cc8c2c,0px 0px 10px #cc8c2c;
    transform: translateY(-10px);
}
.card>.desc{
    padding:0 10px 10px;
}
.card>.desc>h2{
    margin: 10px 0;
    text-transform: capitalize;
}
.card>.desc>h3{
    margin: 10px 0;
}
.card>.desc>span{
    font-size: 12px;
}

footer {
    background-color: #000;
    color: #fff;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    cursor: default;
}
footer a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    transition: all .3s;
}
footer a:hover {
    border-bottom: 3px dotted #fff;
    padding-bottom: 5px;
}